on:
  workflow_dispatch:

name: Source Upload

jobs:
  upload:
    name: Upload
    runs-on: ubuntu-latest
    steps:
      - name: Checkout ScratchAddons/website-i18n
        uses: actions/checkout@v2

      - name: Execute script
        run: |
          echo Running...
          shopt -s expand_aliases
          wget https://github.com/transifex/cli/releases/download/v1.0.0/tx-linux-amd64.tar.gz -O ${RUNNER_TEMP}/tx.tar.gz
          tar -zxvf ${RUNNER_TEMP}/tx.tar.gz -C ${RUNNER_TEMP} tx
          ls ${RUNNER_TEMP}
          chmod -x ${RUNNER_TEMP}/tx
          shopt -s expand_aliases
          alias tx='${RUNNER_TEMP}/tx'
          ${RUNNER_TEMP}/tx push --source --use-git-timestamps --skip
        env:
          TX_TOKEN: ${{ secrets.TX_TOKEN }}